authorship {
  font-family: '5by7';
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 15px;
  font-size: 12px;
  display: block;
  text-shadow: 0px 0px 3px #fff;
  color: #fff;
  text-transform: uppercase;

  a {
    color: #ccf;
    text-decoration: none;
  }

  game-over & {
    left: 15px;
    width: auto;
    top: 15px;
  }
}
