logo {
  white-space: pre;
  font-weight: bold;
  font-family: monospace;
  color: #fff;
  font-size: 10pt;
  width: 100%;
  left: 50%;
  top: 30%;
  margin-left: -265px;
  position: absolute;
  display: block;
  z-index: 10;
  cursor: default;
  text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0cf, 0 0 5px #0cf, 0 0 5px #0cf;
}
