button.start-game {
  background: rgba(0, 63, 127, 0.5);
  font-family: '5by7';
  font-size: 18pt;
  text-align: center;
  border-radius: 10px;
  border: 3px solid rgba(0, 63, 127, 0.5);
  outline: none;
  position: absolute;
  z-index: 10;
  width: 100px;
  margin: 0 auto;
  color: #fff;
  padding: 10px 0px;
  box-shadow: 0px 0px 1px #fff, 0px 0px 1px #fff, 0px 0px 1px #fff, 0px 0px 1px #fff;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  text-transform: uppercase;
}
