$interceptor-height: 56px;
$fighter-height: 22px;
$gunship-height: 55px;
$escort-height: 58px;
$civilian-transport-height: 45px;
$cargo-hauler-height: 60px;
$miner-height: 57px;
$stealth-height: 59px;
$defender-height: 56px;

ship {
  position: absolute;
  background-image: url('../images/shipsall.gif');
  background-repeat: no-repeat;
  z-index: 2;
}

ship[controlled-by="ai"] {
  transform: rotate(180deg);
  animation-name: ai-ship-flyby;
  animation-timing-function: linear;
  will-change: bottom;
}

ship[controlled-by="player"] {
  // left: 50%;
  // bottom: 10%;
}

ship[class="interceptor"] {
  background-position: -6px -4px;
  width: 56px;
  height: $interceptor-height;

  &[controlled-by="ai"] {
    top: -$interceptor-height;
  }
}

ship[class="fighter"] {
  background-position: -6px -68px;
  width: 25px;
  height: $fighter-height;

  &[controlled-by="ai"] {
    top: -$fighter-height;
    animation-duration: 3s;
  }
}

ship[class="gunship"] {
  background-position: -132px -4px;
  width: 53px;
  height: $gunship-height;

  &[controlled-by="ai"] {
    top: -$gunship-height;
  }
}

ship[class="escort"] {
  background-position: -71px -65px;
  width: 51px;
  height: $escort-height;

  &[controlled-by="ai"] {
    top: -$escort-height;
  }
}

ship[class="civilian-transport"] {
  background-position: -133px -69px;
  width: 19px;
  height: $civilian-transport-height;

  &[controlled-by="ai"] {
    top: -$civilian-transport-height;
  }
}

ship[class="cargo-hauler"] {
  background-position: -160px -64px;
  width: 22px;
  height: $cargo-hauler-height;

  &[controlled-by="ai"] {
    top: -$cargo-hauler-height;
  }
}

ship[class="miner"] {
  background-position: -14px -128px;
  width: 39px;
  height: $miner-height;

  &[controlled-by="ai"] {
    top: -$miner-height;
  }
}

ship[class="stealth"] {
  background-position: -69px -125px;
  width: 56px;
  height: $stealth-height;

  &[controlled-by="ai"] {
    top: -$stealth-height;
  }
}

ship[class="defender"] {
  background-position: -131px -130px;
  width: 55px;
  height: $defender-height;

  &[controlled-by="ai"] {
    top: -$defender-height;
  }
}

@keyframes ai-ship-flyby {
  100% { top: 101%; }
}
