@font-face {
  font-family: '5by7';
    src: url('../fonts/5by7.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: '5by7Bold';
    src: url('../fonts/5by7_b.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
