@import 'shared/_variables';
@import 'shared/_fonts';
@import 'scene/_scene';
@import 'scene/_stars';
@import 'scene/_explosion';
@import 'ui/_logo';
@import 'ui/_score';
@import 'ui/_shield-gauge';
@import 'ui/_start-game';
@import 'ui/_splash-screen';
@import 'ui/_authorship';
@import 'ui/_game-over';
@import 'ship/_ship';
@import 'ship/classes/_cargo-hauler';
@import 'ship/classes/_civilian-transport';
@import 'ship/classes/_defender';
@import 'ship/classes/_escort';
@import 'ship/classes/_fighter';
@import 'ship/classes/_gunship';
@import 'ship/classes/_interceptor';
@import 'ship/classes/_miner';
@import 'ship/classes/_stealth';
@import 'weapons/_energy-cannon';
@import 'shields/_shield';
@import 'shields/compositions/_rounded-composition';
@import 'shields/ratios/_lower-ratio';
@import 'shields/ratios/_middle-ratio';
@import 'shields/ratios/_upper-ratio';

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
