$energy-cannon-level-1-length: 20px;
$energy-cannon-level-2-length: 24px;
$energy-cannon-level-3-length: 33px;
$energy-cannon-level-4-length: 70px;

shot[weapon="energy-cannon"] {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('../images/beams.png');
  will-change: top;
  animation-timing-function: ease-in;
  z-index: 1;

  &[power-level="1"] {
    background-position: -36px 0;
    width: 21px;
    height: $energy-cannon-level-1-length;
    animation-name: shot-fired-level-1;
  }

  &[power-level="2"] {
    background-position: -38px -25px;
    width: 18px;
    height: $energy-cannon-level-2-length;
    animation-name: shot-fired-level-2;
  }

  &[power-level="3"] {
    background-position: -39px -53px;
    width: 17px;
    height: $energy-cannon-level-3-length;
    animation-name: shot-fired-level-3;
  }

  &[power-level="4"] {
    background-position: -117px -220px;
    width: 41px;
    height: $energy-cannon-level-4-length;
    animation-name: shot-fired-level-4;
  }
}

@keyframes shot-fired-level-1 {
  100% { top: -$energy-cannon-level-1-length; }
}

@keyframes shot-fired-level-2 {
  100% { top: -$energy-cannon-level-2-length; }
}

@keyframes shot-fired-level-3 {
  100% { top: -$energy-cannon-level-3-length; }
}

@keyframes shot-fired-level-4 {
  100% { top: -$energy-cannon-level-4-length; }
}
